<p id="notice"><%= notice %></p>

<p>
  <b>Collection:</b>
  <%= @scheme.collectionname %>
</p>

<% @scheme.schemer_columns.each do |sc| %>
	<p>
	  <b>Column:</b>
	  <%= sc.colname %>
	</p>
	
	<p>
	  <b>Conditional:</b>
	  <%= sc.conditional %>
	</p>
	
	<p>
	  <b>Keypart:</b>
	  <%= sc.keypart %>
	</p>
	
	<p>
	  <b>Alias:</b>
	  <%= sc.colalias %>
	</p>
	
	<p>
	  <b>Datatype:</b>
	  <%= sc.datatype %>
	</p>
	
	<p>
	  <b>Require:</b>
	  <%= sc.filltype %>
	</p>
	
	<p>
	  <b>Sm:</b>
	  <%= sc.sm %>
	</p>
	
	<p>
	  <b>Default:</b>
	  <!-- sc.default -->
	</p>
	
	<p>
	  <b>Conversion:</b>
	  <%= sc.conversion %>
	</p>
	
	<p>
	  <b>Validation:</b>
	  <%= sc.validation %>
	</p>
	
	<p>
	  <b>Options:</b>
	  <%= sc.options %>
	</p>
	
	<p>
	  <b>Label:</b>
	  <%= sc.label %>
	</p>
	
	<p>
	  <b>Display:</b>
	  <%= sc.display %>
	</p>
	
	<p>
	  <b>Characteristics:</b>
	  <%= sc.characteristics %>
	</p>
<% end %>

<%= link_to 'Edit', edit_scheme_path(@scheme) %> |
<%= link_to 'New', new_scheme_path %>
