<%= form_for(@dictionary) do |f| %>
  <% if @dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>

      <ul>
      <% @dictionary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :collectionname %><br />
    <% @collection_names = Mongoid.default_session.collections.map(&:name).sort %>
    <%= f.text_field :collectionname %>
  </div>
  <div class="field">
    <%= f.label :column %><br />
    <%= f.text_field :column %>
  </div>
  <div class="field">
    <%= f.label :conditional %><br />
    <%= f.text_field :conditional %>
  </div>
  <div class="field">
    <%= f.label :keypart %><br />
    <%= f.text_field :keypart %>
  </div>
  <div class="field">
    <%= f.label :alias %><br />
    <%= f.text_field :alias %>
  </div>
  <div class="field">
    <%= f.label :datatype %><br />
    <%= f.text_field :datatype %>
  </div>
  <div class="field">
    <%= f.label :filltype %><br />
    <%= f.text_field :filltype %>
  </div>
  <div class="field">
    <%= f.label :sm %><br />
    <%= f.text_field :sm %>
  </div>
  <div class="field">
    <%= f.label :default %><br />
    <%= f.text_field :default %>
  </div>
  <div class="field">
    <%= f.label :conversion %><br />
    <%= f.text_field :conversion %>
  </div>
  <div class="field">
    <%= f.label :validation %><br />
    <%= f.text_field :validation %>
  </div>
  <div class="field">
    <%= f.label :options %><br />
    <%= f.text_field :options %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.text_field :display %>
  </div>
  <div class="field">
    <%= f.label :characteristics %><br />
    <%= f.text_field :characteristics %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
