<p id="notice"><%= notice %></p>

<p>
  <b>Collection:</b>
  <%= @dictionary.collection %>
</p>

<p>
  <b>Column:</b>
  <%= @dictionary.column %>
</p>

<p>
  <b>Conditional:</b>
  <%= @dictionary.conditional %>
</p>

<p>
  <b>Keypart:</b>
  <%= @dictionary.keypart %>
</p>

<p>
  <b>Alias:</b>
  <%= @dictionary.alias %>
</p>

<p>
  <b>Datatype:</b>
  <%= @dictionary.datatype %>
</p>

<p>
  <b>Require:</b>
  <%= @dictionary.require %>
</p>

<p>
  <b>Sm:</b>
  <%= @dictionary.sm %>
</p>

<p>
  <b>Default:</b>
  <%= @dictionary.default %>
</p>

<p>
  <b>Conversion:</b>
  <%= @dictionary.conversion %>
</p>

<p>
  <b>Validation:</b>
  <%= @dictionary.validation %>
</p>

<p>
  <b>Options:</b>
  <%= @dictionary.options %>
</p>

<p>
  <b>Label:</b>
  <%= @dictionary.label %>
</p>

<p>
  <b>Display:</b>
  <%= @dictionary.display %>
</p>

<p>
  <b>Characteristics:</b>
  <%= @dictionary.characteristics %>
</p>


<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
